.item-carrinho{
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom:1px dashed #000;
    margin-left:-30px;
}

.item-carrinho span,
.item-carrinho p{
    padding:2px;
}

.item-carrinho span{
    font-weight: 800;
}
    
.item-carrinho .remove-item{
    width:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    height:20px;
    color:red;
    cursor:pointer;
    border-radius:100%;
    border:1px solid red;
    font-size:14px;
    padding: 0 5px;
}

.showCart{
    display:flex;
    flex-direction: column;
    align-content: center;
    width:25%;
    height:100vh;
    border:1px solid #000;
    position:fixed;
    top:0;
    right:0;
    background:transparent;
}

.hiddenCart{
    display:none;
    top:0;
    right:-100%;
    transition:.3s ease-in-out;
}

.showCart h2{
    font-size:25px;
    text-align: center;
    text-transform: uppercase;
    
}
    
.showCart .preco-total{
    text-align:center;
    font-size:20px;
}
    
.showCart .preco-total span{
    font-weight: 800;
}
    